---
import PostLayout from '../layouts/PostLayout.astro';
---

<PostLayout title="Post" author="Michel">
    <p>This is some content for the post page</p>
</PostLayout>


<style global>
    nav, main {
        @apply border
    }
</style>