---
// Import your components in your component script...
import MyComponent from '../components/Slot.astro';
---

<MyComponent>
  <p>This is some content inside the Slot.astro component.</p>
</MyComponent>